{% extends "layout.html" %}   
{% block content %}     
    <h1>About Page</h1>  

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam voluptas eius accusantium veritatis sunt iure. Facilis temporibus quasi odit expedita? Praesentium excepturi sit alias adipisci voluptatibus officia exercitationem odio.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam voluptas eius accusantium veritatis sunt iure. Facilis temporibus quasi odit expedita? Praesentium excepturi sit alias adipisci voluptatibus officia exercitationem odio.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam voluptas eius accusantium veritatis sunt iure. Facilis temporibus quasi odit expedita? Praesentium excepturi sit alias adipisci voluptatibus officia exercitationem odio.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam voluptas eius accusantium veritatis sunt iure. Facilis temporibus quasi odit expedita? Praesentium excepturi sit alias adipisci voluptatibus officia exercitationem odio.
<br>
<br>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam voluptas eius accusantium veritatis sunt iure. Facilis temporibus quasi odit expedita? Praesentium excepturi sit alias adipisci voluptatibus officia exercitationem odio.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam voluptas eius accusantium veritatis sunt iure. Facilis temporibus quasi odit expedita? Praesentium excepturi sit alias adipisci voluptatibus officia exercitationem odio.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam voluptas eius accusantium veritatis sunt iure. Facilis temporibus quasi odit expedita? Praesentium excepturi sit alias adipisci voluptatibus officia exercitationem odio.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam voluptas eius accusantium veritatis sunt iure. Facilis temporibus quasi odit expedita? Praesentium excepturi sit alias adipisci voluptatibus officia exercitationem odio.
</p>
{% endblock %} 



